#image-viewer {
  display: none;
  z-index: 999;
}

#image-viewer div {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-viewer div img {
  display: block;
  z-index: 1000;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 1200px;
  border-radius: 6px;
}

#image-viewer #close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 60px;
}
